data/raw/*
!data/raw/README.md
data/processed/*
!data/processed/README.md
data/yolo_format/*
!data/yolo_format/README.md
runs/
weights/
*.pt
*.pth
*.onnx
*.engine
*.mp4
*.avi
*.mov
*.log
__pycache__/
.env
.venv/
.ipynb_checkpoints/
